*{
    margin: 0;
    padding: 0;
}
.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.text__area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: grid;
    //flex-direction: column;
   align-self: flex-start;
    top: 50px;
    margin-bottom: 0;
    height: 300px;
    
   
}
.image{
    position: relative;
    right: 350px;
    bottom: 300px;
    max-width: fit-content;

    
}
.form_content{
    display: flex;
    justify-content: center;
    align-items: center;
   // align-content: center;
   height: 300px;
    
    width: 100vw;
    max-width: fit-content;
  position: relative;
   right: 450px;
   top: 400px;
    
}
.profile_image{
    position: relative;
   bottom: 150px;
   top:50px;
   border-radius: 80px;
   right: 100px;
   border-style: solid;
   border-color: white;
   justify-content: right;
    

}
.user_recipe_ingredients{
    
     height: 100px;
}

.user_recipe{
    
     height: 100px;
}

.user_recipe_description{
    
    height: 100px;
}
.user__container{
 display: flex;
  justify-content: center;
  align-items: center;
 // max-width: 1200px;
  margin: 0 auto;
  height: 300px;
 // text-align: center;
  padding: 30px;
  
}
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_img{
    border-radius: 4px;
}
.user_name{
    position: relative;
    top: 160px;
    right: 220px;
}

i .fas .fa-camera{
     position: relative;
    right: 150px;
}