
.form-wrapper{
   background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 400px;
    height: 400px;
   justify-content: flex-end;
   align-items: center;
   border-radius: 7px;
}
.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
}
.form-inputs{
    position: relative;
    top: 100px;
    left: 50px;
   
    width: max-content;
}
.input-btn{
    position: relative;
    top: 150px;
    left: 50px;
    border-radius: 4px;
    color: #fff;
    background: blue;
     border: none;
    outline: none;
    text-decoration: none;
    border: none;
    width: 80px;
    height: 30px;
}
.input-btn:hover{
    color:blue;
    transition: all 0.3s ease;


}
.image_main{
    height: 200px;
}